.text-small {
    font-size: 0.9rem;
}

a:hover,
a:focus {
    text-decoration: none;
}

footer {
    background: var(--primary-dark);
}

.link_footer {
    color: var(--primary-light) !important;
    text-decoration: none;
    transition: all 0.3s;
}

.link_footer:hover {
    color: var(--secondary-dark) !important;
}

.btn-shade2 {
    background-color: var(--primary-light)!important;
    color: var(--primary-dark) !important;
}