@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');
:root {
    --primary-dark: #070F2B;
    --secondary-dark: #1B1A55;
    --light-dark: #535C91;
    --secondary-light: #535C91;
    --primary-light: #F0F3FF;
}


/* Cropper */

.box {
    display: inline-block;
    padding: 10px;
    box-sizing: border-box;
}

.img-preview {
    overflow: hidden;
}

body {
    overflow-x: hidden !important;
    font-family: "Montserrat", sans-serif !important;
    font-optical-sizing: auto !important;
    font-weight: normal !important;
    font-style: normal !important;
}

.image_up {
    width: 100%;
    /* border: 4px solid var(--bs-danger); */
    transition: .4s ease !important;
    background-color: #000 !important;
}

.image_up:hover {
    transform: scale(0.95) translateY(-20px);
    cursor: pointer;
}


/* Border Bottom */

.border_bottom_strip {
    border-bottom: 10px solid var(--bs-danger);
}

.border_top_strip {
    border-top: 10px solid var(--bs-danger);
}


/* Marquee Content */

.marquee_scroll {
    animation: marquee_bottom_to_top 10s linear infinite forwards;
    transition: 0.5s linear !important;
}

.marquee_scroll:hover {
    animation-play-state: paused !important;
    cursor: pointer;
}

@keyframes marquee_bottom_to_top {
    from {
        transform: translateY(100%);
    }
    to {
        transform: translateY(-100%);
    }
}


/* Image Grid */

.header {
    text-align: center;
    padding: 32px;
}

.row1 {
    display: flex;
    flex-wrap: wrap;
    padding: 0 4px;
}


/* Create four equal columns that sits next to each other */

.column1 {
    flex: 25%;
    max-width: 25%;
    padding: 0 4px;
}

.column1 img {
    margin-top: 8px;
    vertical-align: middle;
    transition: 0.2s linear transform;
}

.column1 img:hover {
    transform: scale(1.02);
    cursor: pointer;
}

.full_screen_image {
    position: fixed;
    top: 0;
    left: 0;
    height: 100vh;
    width: 100%;
    z-index: 999 !important;
    background-color: #000000c8;
    display: flex;
    justify-content: center;
    align-items: center;
    animation: image_ 0.2s linear 1 both;
    padding: 2rem;
}

.full_screen_image img {
    height: 100%;
    width: auto;
    animation: image__ 0.2s linear 1 both;
    max-width: 100% !important;
    max-height: 100vh !important;
}

.full_screen_image button {
    position: absolute;
    top: 2%;
    right: 2%;
}

@keyframes image_ {
    from {
        opacity: 0;
    }
    to {
        opacity: 1;
    }
}

@keyframes image__ {
    from {
        transform: scale(0.4);
    }
    to {
        transform: scale(1);
    }
}

@media screen and (max-width: 800px) {
    .full_screen_image img {
        width: 100%;
        height: auto;
        animation: image__ 0.3s linear 1 both;
    }
}


/* Responsive layout - makes a two column-layout instead of four columns */

@media screen and (max-width: 800px) {
    .column1 {
        flex: 50%;
        max-width: 50%;
    }
}


/* Responsive layout - makes the two columns stack on top of each other instead of next to each other */

@media screen and (max-width: 600px) {
    .column1 {
        flex: 100%;
        max-width: 100%;
    }
}

.bg-secondary1 {
    background-color: #80ceff5c !important;
}